[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[req_distinguished_name]
CN = linkedintest.com

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = linkedintest.com
DNS.2 = www.linkedintest.com
